<html>
</main>
<body class="bod">
<footer class="footer">
    <div class="lado-izquierdo">
        <div class="Logofooter">
            <a href="/"><img src="/img/imagen7.png" alt="AgroVen logo" class="logo"></a>
        </div>
        <div class="enlaces">
            <ul>
                <li><a href="/login" class="culo">Iniciar Sesion</a></li>
                <li><a href="/registro" class="culo">Registrarse</a></li>
            </ul>
        </div>
    </div>
    <div class="lado-derecho">
        <div class="creadores">
            <h3>Creadores</h3>
                <p>Lexiles R & Tony M</p>
            <p></p>
        </div>
        <div class="redes">
            <h3>Redes</h3>
            <img src="/img/imagen2.png" alt="GitHub img" class="GitHub"> 
            <a href="https://github.com/LexilesR" class="redesgit">Lexiles R</a> 
            <a href="https://github.com/Dev-TonyM" class="redesgit">Tony M</a> 
        </div>
    </div>
    <script src="/js/bootstrap.js"></script>
</footer>
</body>
</html>