<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroVen</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>
    <nav>
        <div class="Logo">
            <a href="/" class="logo-empresa"><img src="../img/imagen7.png" alt="AgroVen logo"></a>
        </div>
        <div class="navbar">
            <ul class="list">
                <li><a href="/inventario">Inventario</a></li>
                <li><a href="/login">Iniciar Sesion</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>