<%- include('header.ejs') %> 
<main id="main">


                <!-- ejemplos!!! -->

                <!-- se ve luego si se cambia lo de agregar al carrito xd -->



    <div class="container-items">
        <div class="items">
            <figure>
                <img src="/img/b2ap3_amp_lnea-de-productos.jpg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Cremas</p>
                <p class="precio">80$</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/descarga.jpg" alt="Cajas">
            </figure>
            <div class="info-producto">
                <p>Cajas</p>
                <p class="precio">120$</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/estrategiaproductos.jpeg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Cremas estantes</p>
                <p class="precio">180$</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/online-shopping-mexico-800-3423d44e0.png" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Shopping</p>
                <p class="precio">400$</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/b2ap3_amp_lnea-de-productos.jpg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Cremas</p>
                <p class="precio">80$</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/descarga.jpg" alt="Cajas">
            </figure>
            <div class="info-producto">
                <p>Cajas</p>
                <p class="precio">120$</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/estrategiaproductos.jpeg" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Cremas estantes</p>
                <p class="precio">180$</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
        <div class="items">
            <figure>
                <img src="/img/online-shopping-mexico-800-3423d44e0.png" alt="Cremas">
            </figure>
            <div class="info-producto">
                <p>Shopping</p>
                <p class="precio">400$</p>
                <button class="btn btn-success">Agregar al carrito</button>
            </div>
        </div>
    </div>
</main>
<%- include('footer.ejs') %>